{{#if isLoggedIn}}

<script>



</script>
{{/if}}
<div class="container-fluid ">

    <div class="d-flex flex-column " style="margin-top: 10vh;"><img src="../public/home.png" class="rounded mx-auto d-block" alt="...">
        <h2 class="mx-auto mt-5" style="color:#4B85A6">
            HEXAGONS
        </h2>
        <h3 class="mx-auto">Elevate your travel</h3>

    </div>
</div>