{{#if isLoggedIn}}

<script>
    function showNav() {
        var nav = document.getElementById("header");
        nav.style.display = "flex";
    }
    function showTab() {
        var tab = document.getElementById("tab");
        tab.style.display = "block";
    }
    showTab()
    showNav()



</script>
{{/if}}
<div class="container-fluid ">

    <div class="d-flex flex-column mb-3 "><img src="../public/home.png" class="rounded mx-auto d-block" alt="...">
        <h2 class="mx-auto mt-5" style="color:#4B85A6">
            HEXAGONS
        </h2>
        <h3 class="mx-auto">Elevate your travel</h3>

    </div>
</div>