<nav class="navbar  sticky-top navbar-expand-lg bg-body-tertiary" id="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"> <img src="../../public/logo.png" class="img-icon" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{!-- <form class="d-flex search" role="search">
            <input class="form-control me-2 empty " type="search" aria-label="Search" placeholder="&#xf002;">
        </form> --}}
        {{#if account}}
        <div class="d-flex">
            <i class="fa-solid fa-bell " style="font-size: 2em;"></i>

            <button type="" class="btn  btn-success mx-4 "><i class="fa-solid fa-user"></i>
                {{account}}
            </button>


        </div>
        {{else}}

        <a type=" button" class="btn btn-success mr-2 font-weight-bold" href="/login/signin">LOGIN</a>

        {{/if}}
    </div>
    </div>
</nav>
<div class="container-fluid" style="padding: 0;">
    <div class="tab" id="tab">
        <a class="nav-link active" href="/home">
            <button class="tablinks" id="defaultOpen"><i class="fa-solid  fa-house"></i>

                <h5>Home</h5>
            </button>
        </a>
        <a class="nav-link active" href="/customer">
            <button class="tablinks"><i class="fa-solid fa-user"></i>
                <h5>Customer</h5>
            </button>
        </a>
        <a class="nav-link active" href="/tourist">
            <button class="tablinks"><i class="fa-solid fa-users"></i>


                <h5>Tourist</h5>

            </button>
        </a>
        <a class="nav-link active" href="/room">
            <button class="tablinks"><i class="fa-solid fa-door-open"></i>
                <h5>Room</h5>
            </button>
        </a>
        <a class="nav-link active" href="/ticket">
            <button class="tablinks"><i class="fa-solid fa-ticket"></i>


                <h5>Ticket</h5>

            </button>
        </a>
        <a class="nav-link active" href="/tour">
            <button class="tablinks"><i class="fa-solid fa-plane-up"></i>


                <h5>Tour</h5>

            </button>
        </a>
        <a class="nav-link active" href="/logout">
            <button class="tablinks"><i class="fa-solid fa-arrow-right-from-bracket"></i>


                <h5>Logout</h5>

            </button>
        </a>
    </div>

</div>



<style>
    #header {
        display: flex;
        height: 10vh;
    }

    #tab {
        display: flex;
        height: 90vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    * {
        box-sizing: border-box
    }

    .container-fluid {
        font-family: 'Aclonica';
    }

    /* Style the tab */
    .tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #4B85A6;
        width: 15%;
        height: 300px;
        display: none;

    }


    /* Style the buttons that are used to open the tab content */
    .tab button {
        display: flex;
        background-color: inherit;
        color: black;
        padding: 31px;
        width: 100%;
        border: none;
        outline: none;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        justify-content: space-evenly;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #9b8e8e;
    }

    /* Create an active/current "tab button" class */
    .tab button:active {
        background-color: #D9D9D9;
    }





    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 0px 12px;
        border: 1px solid #ccc;
        width: 85%;
        border-left: none;
        height: 659px;

    }

    .tablinks .fa-user {
        color: black;
    }

    .img-icon {
        height: 60px;
        width: 90px;

    }

    a.user {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }

    input.empty {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }

    .fa-user {
        color: #ffffff;
        width: 16px;
    }

    .fa-bell {

        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: medium;
        text-decoration: inherit;

    }


    .search {
        margin-right: auto !important;
        width: 30%;
        height: 40px;
    }




    .form-control {
        background-color: #F4EBEB;
    }

    .navbar {
        background-color: rgb(255, 255, 255) !important;
        display: none;
    }

    .nav-item a {
        color: white !important;
    }
</style>